@import url("https://fonts.cdnfonts.com/css/frozen-ice");
@font-face {
  font-family: Slussen;
  src: url(/fonts/Slussen-Compressed-Black.woff2) format("woff2");
  font-display: swap;
  font-weight: 900;
  font-stretch: compressed;
}
@font-face {
  font-family: Slussen;
  src: url(/fonts/Slussen-Expanded-Black.woff2) format("woff2");
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
}
@font-face {
  font-family: Slussen;
  src: url(/fonts/Slussen-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: Slussen;
  src: url(/fonts/Slussen-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: initial;
  overflow: hidden;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Slussen;
  font-size: 16px;
  font-weight: 400;
  background: rgb(69, 122, 181);
  background: linear-gradient(
    90deg,
    rgba(69, 122, 181, 1) 0%,
    rgba(96, 206, 208, 1) 5%,
    rgba(13, 159, 215, 0.9444152661064426) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
}

.loaderEgg {
  background-color: black;
}

.HoverText {
  color: blue;
}

#loadingScreen {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loadingImage {
  margin: auto;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.clickMe {
  color: rgb(102, 165, 207);
  position: absolute;
  margin-top: 40rem;
  font-size: xx-large;
  font-family: "FROZEN ICE-Light", sans-serif;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 85%;
  padding: 25px;
  margin: 0;
}

h2 span {
  display: block;
}

h3 {
  font-size: 20px;
  font-stretch: expanded;
  color: blue;
  line-height: 100%;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.container {
  width: 95%;
  margin: auto;
}

section {
  padding: 50px 0;
}

.col {
  width: 50%;
}

.col_left img {
  height: 300px;
}

#vertical {
  height: 200vh;
  width: 100vw;
}

.vertical__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vertical__content .col_left {
  height: 100%;
}

.vertical__content .col.col_right {
  width: 40%;
}

.vertical__item:not(:last-child) {
  margin-bottom: 240px;
}

.welcome-page {
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;
}
.end-page {
  margin-top: 20rem;
  margin-bottom: 10rem;
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
