@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: initial;
  overflow: hidden;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Slussen;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(to bottom, #172f4e, #305986);
}

.loaderEgg {
  background-color: black;
}

.HoverText {
  color: blue;
}

#loadingScreen {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loadingImage {
  margin: auto;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.familyPenguin {
  width: 100vw;
  margin-top: 650px;
}
.clickMe {
  color: rgb(102, 165, 207);
  position: absolute;
  margin-top: 40rem;
  font-size: xx-large;
  font-family: "FROZEN ICE-Light", sans-serif;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 85%;
  padding: 25px;
  margin: 0;
}

h2 span {
  display: block;
}

h3 {
  font-size: 20px;
  font-stretch: expanded;
  color: #b9d2df;
  line-height: 100%;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

p {
  color: white;
  margin-top: 1rem;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.container {
  width: 95%;
  margin: auto;
}

section {
  padding: 50px 0;
}

.col {
  width: 50%;
}

.col_left {
  display: flex;
  justify-content: flex-end;
}

.col_left img {
  height: 75vh;
  margin-right: 40px;
}

#vertical {
  height: 200vh;
  width: 100vw;
}

.vertical__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vertical__content .col_left {
  height: 100%;
}

.vertical__content .col.col_right {
  width: 40%;
}

.vertical__item:not(:last-child) {
  margin-bottom: 240px;
}

.welcome-page {
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;
}
.end-page {
  margin-top: 20rem;
  margin-bottom: 10rem;
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page {
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  margin: 0;
  background-image: url("FamilyPenguin.png");
  background-size: 150%;
  background-position: center;
}

.welcome-page h2 {
  color: #172f4e;
}
