@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.cdnfonts.com/css/st-maknyus");
@import url("https://fonts.cdnfonts.com/css/clingy");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: initial;
  overflow: hidden;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Slussen;
  font-size: 16px;
  font-weight: 400;
  background: rgb(69, 122, 181);
  background: radial-gradient(
    circle,
    rgba(69, 122, 181, 1) 0%,
    rgba(23, 47, 78, 1) 73%
  );
}

.loaderEgg {
  background-color: black;
}

.HoverText {
  color: blue;
}

#loadingScreen {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loadingImage {
  margin: auto;

  /* animation: spin 10s linear infinite; */
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.familyPenguin {
  width: 100vw;
  margin-top: 650px;
}
.clickMe {
  color: rgb(102, 165, 207);
  position: absolute;
  margin-top: 40rem;
  font-size: xx-large;
  font-family: "Clingy", sans-serif;
}

h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 85%;
  padding: 25px;
  margin: 0;
}

h2 span {
  display: block;
}

.vertical__item h3 {
  font-size: 20px;
  font-stretch: expanded;
  color: #b9d2df;
  line-height: 100%;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.scroll-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.scroll-link:hover {
  text-decoration: underline;
}

p {
  color: white;
  margin-top: 1rem;
  font-family: "Clingy";
  font-size: 1rem;
  font-weight: lighter;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

.container {
  width: 95%;
  margin: auto;
}

.col {
  width: 50%;
}

.col_left {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
}

.col_left img {
  height: 75vh;
  margin-right: 40px;
}

#vertical {
  height: 200vh;
  width: 100vw;
}

.vertical__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.vertical__content .col_left {
  height: 100%;
}

.vertical__content .col.col_right {
  width: 40%;
}

.vertical__item:not(:last-child) {
  margin-bottom: 240px;
}

.welcome-page {
  font-family: "St Maknyus", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 26rem;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  height: 100vh;
  margin: 0;
  background-image: url("FamilyPenguin.png");
  background-size: 114% 100%;
  background-position: center;
}

.welcome-title {
  margin-bottom: 30rem;
  font-family: "St Maknyus", sans-serif;
  color: #172f4e;
  font-family: "Clingy", sans-serif;
  padding-top: 2 rem;
}
.scroll-title {
  padding-top: 9rem;
  font-family: "Clingy", sans-serif;
  font-size: x-small;
}

/* .intro {
  padding-top: 7rem;
} */
.end-page {
  margin-top: 20rem;
  margin-bottom: 10rem;
  font-family: "FROZEN ICE-Light", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Clingy", sans-serif;
}

.end-page h2 {
  color: #b9d2df;
  margin-bottom: 2rem;
}
.end-page {
  margin-bottom: 0;
  height: 55vh;
}

.end-page img {
  width: 100%;
}

.vertical__item_top_title {
  padding-top: 20rem;
  padding-bottom: 15rem;
  color: #fcbacb;
  font-family: "Clingy";
  font-weight: 50;
  line-height: 1.2rem;
}

.vertical__item_top_title h3 {
  font-size: 2rem;
}
